<% provide(:title, "") %>
<div class="clear"></div>
<div id="wrapper_hello">
<div id="support_hello">
        <div class="title_hello">Реализуйте большие IT проекты</div>
        <div class="title_small_hello">B2B площадка позволит Вам размещать заявки на разработку ПО, аутсорсинг и поиск IT специалистов по всему миру.</div>
</div>
<div id="main_m_hello">
        <div id="main_m_hello_box">
                        <div id="reg_input_m">
                            <input type="text" placeholder="Почта или номер телефона">
                        </div>
                        <div id="reg_input_m">
                            <input type="text" placeholder="Пароль">
                        </div>
                                <div class="reg_button">
                                    <%= link_to "Зарегистрироваться", signup_path %>
                                </div>
                                <div class="reg_text_inform">Нажимая на кнопку "Зарегистрироваться", Вы принимаете условия <a href="#">пользования ресурсом</a> и <a href="#">обработки персональных данных.</a></div>
        </div>
        <div id="main_m_add">
                <div class="addition_text_hello">Или зарегистрируйте страницу <a href="#" class="reg_c_button">Компании</a></div>
        </div>
</div>
</div>