<div id="wrapper">
<div id="main">
        <div id="photo"><img src="" alt="lorem"></div>
        <div id="u_description"><%= @user.name+" "+@user.surname %></div>
        <div id="u_sub_description">[test]</div>
        <div id="u_sub_sub_description">[test]</div>
        <div id="main_box">
                <div id="main_table">
                        <table>
                                <tr>
                                        <td>Сообщения</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td>Приглашения</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td>Проекты</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td>События</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td>Статус</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td>Баланс</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td>Pro account</td>
                                        <td class="right">[test]</td>
                                </tr>
                                <tr>
                                        <td><%= link_to 'Редактировать страницу', edit_user_path(current_user)%></td>
                                        <td class="right"></td>
                                </tr>
                                <tr>
                                        <td>Настройки</td>
                                        <td class="right"></td>
                                </tr>
                                <tr>
                                        <td>Выход</td>
                                        <td class="right"></td>
                                </tr>
                        </table>
                </div>
        <div id="sup_box">
        <div id="sup_title">Контакты</div>
        <div id="box_icons">
                <div id="box_i">
                        <div id="iconphoto"><img src="" alt="lorem"></div>
                        <div id="iconname">Safin Radik</div>
                </div>
                <div id="box_i">
                        <div id="iconphoto"><img src="" alt="lorem"></div>
                        <div id="iconname">Voskresensky Aleksey</div>
                </div>
                <div id="box_i">
                        <div id="iconphoto"><img src="" alt="lorem"></div>
                        <div id="iconname">Nazarov Evgeny</div>
                </div>
                <div id="box_i">
                        <div id="iconphoto"><img src="" alt="lorem"></div>
                        <div id="iconname">Surkov Philipp</div>
                </div>
        </div>

</div>
        <div id="sup_box">
                <div id="sup_title">Рейтинг</div>
                <div id="rating">[test]</div>
        </div>
        </div>
</div>
<div id="support">
        <div id="sup_nav_title">Информация о пользователе</div>
                <div id="sup_desc_table">
                                <table>
                                        <tr>
                                                <td class="td_main">Откуда</td>
                                                <td class="td_other">Москва, Россия</td>
                                        </tr>
                                        <tr>
                                                <td class="td_main">Деятельность</td>
                                                <td class="td_other">[test]</td>
                                        </tr>
                                        <tr>
                                                <td class="td_main">Опыт</td>
                                                <td class="td_other">
                                                        <div id="td_obj">[test]</div>
                                                        <div id="td_sub_obj">[test]</div>
                                                </td>
                                        </tr>

                                        <tr>
                                                <td class="td_main">Образование</td>
                                                <td class="td_other">
                                                        <div id="td_obj">[test]</div>
                                                        <div id="td_sub_obj">[test]</div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td class="td_main">Сертификаты</td>
                                                <td class="td_other">
                                                        <div id="td_obj">[test]</div>
                                                        <div id="td_sub_obj">[test]</div>
                                                </td>
                                        </tr>
                                </table>

                        </div>
        <div id="sup_box">
                <div id="sup_title">Услуги</div>
                <div id="snappets">
                        <ul>
                                <li><a href="#">Разработка ПО</a></li>
                                <li><a href="#">Мобильные приложения</a></li>
                                <li><a href="#">Консалтинг</a></li>
                                <li><a href="#">Аутсорсинг</a></li>
                                <li><a href="#">Облачные технологии</a></li>
                                <li><a href="#">Веб-разработка</a></li>
                        </ul>
                </div>
        </div>
        <div class="clear"></div>
        <div id="sup_box">
        <div id="sup_title">Проекты</div>
        <div id="box_icons">
                        <div id="box_i">
                                <div id="projectphoto"></div>
                                <div id="projectname">Tinkov Credit Systems</div>
                        </div>
                        <div id="box_i">
                                <div id="projectphoto"></div>
                                <div id="projectname">Era computers</div>
                        </div>
                        <div id="box_i">
                                <div id="projectphoto"></div>
                                <div id="projectname">Californication</div>
                        </div>
                        <div id="box_i">
                                <div id="projectphoto"></div>
                                <div id="projectname">E-on</div>
                        </div>
                </div>
        </div>
</div>
</div>