  <div id="footer_hello">
          <ul>
                  <li><%= link_to "Восток Технологии", root_path %></li>
                  <li><%= link_to "Услуги бизнеса", contact_path %></li>
                  <li><%= link_to "Компании", help_path %></li>
                  <li><a href="#">Рекламодателям</a></li>
                  <li><a href="#">Вакансии</a></li>
                  <li><a href="#">Инвесторам</a></li>
                  <li><a href="#">Конфиденциальность и условия</a></li>
          </ul>
  </div>