<div id="header" class="color">
	<div id="header_wr">
		
		<div id="logo_h">
                    <%= image_tag("logo.png", alt: "lorem") %>
                </div>
		<div id="search">
		</div>
		<div id="login">
			<ul>
                          <li class="reg_but_hel">
                              <%= link_to "Войти", signup_path %>
                          </li>
			</ul>
		</div>
	</div>
</div>
