<div id="header" class="color">
	<div id="header_wr">
		
		<div id="logo_h">
                    <%= image_tag("logo.png", alt: "lorem") %>
                </div>
		<div id="search">
		</div>
		<div id="login">
			<ul>
                          <li class="reg_but_hel">
                              <% if logged_in? %>
                                <%= link_to "Выйти", logout_path, method: "delete" %>
                              <% else %>
                                <%= link_to "Войти", login_path %>
                              <% end %>
                          </li>
			</ul>
		</div>
	</div>
</div>
